# This pipeline builds, pushes to ACR, and deploys to AKS
trigger:
- master

variables:
  # --- Your Custom Variables ---
  imageRepository: 'mypythondockerrepo'
  acrConnection: 'ACR Connection'
  # This is the name of your Azure subscription service connection
  azureSubscriptionConnection: 'Azure for Students (bf3b23b7-fe7d-479b-a807-f6de142e34fa)'
  agentPool: 'Default'
  manifestFile: 'azure-aks.yaml'
  artifactName: 'drop'
  resourceGroup: 'DevOps-rg'
  aksCluster: 'aksfordevops'

stages:
- stage: Build
  displayName: Build and Push to ACR
  jobs:
  - job: Build
    displayName: Build and Push
    pool:
      name: $(agentPool)
    steps:
    
    # 1. Build the image
    - task: Docker@2
      displayName: Build image
      inputs:
        containerRegistry: $(acrConnection)
        repository: $(imageRepository)
        command: 'build'
        Dockerfile: '**/Dockerfile'
        tags: |
          $(Build.BuildId)
          latest

    # 2. Push the image to ACR
    - task: Docker@2
      displayName: Push image
      inputs:
        containerRegistry: $(acrConnection)
        repository: $(imageRepository)
        command: 'push'
        tags: |
          $(Build.BuildId)
          latest

    # 3. Copy the .yaml file for the release
    - task: CopyFiles@2
      displayName: 'Copy manifest file'
      inputs:
        SourceFolder: $(System.DefaultWorkingDirectory)
        Contents: $(manifestFile)
        TargetFolder: $(Build.ArtifactStagingDirectory)

    # 4. Publish the .yaml as a pipeline artifact
    - task: PublishBuildArtifacts@1
      displayName: 'Publish artifact'
      inputs:
        PathtoPublish: $(Build.ArtifactStagingDirectory)
        ArtifactName: $(artifactName)
        publishLocation: 'Container'

- stage: Deploy
  displayName: Deploy to AKS
  dependsOn: Build
  condition: succeeded()
  jobs:
  - job: Deploy
    displayName: Deploy
    pool:
      name: $(agentPool)
    steps:
    
    # 1. Download the artifact (the .yaml file)
    - task: DownloadPipelineArtifact@2
      displayName: 'Download manifest artifact'
      inputs:
        buildType: 'current'
        artifactName: $(artifactName)
        targetPath: $(Pipeline.Workspace)/$(artifactName)

    # 2. Log in to Azure and set kubectl context
    - task: AzureCLI@2
      displayName: 'Log in and set AKS context'
      inputs:
        azureSubscription: $(azureSubscriptionConnection)
        scriptType: 'bash'
        scriptLocation: 'inlineScript'